@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Coolvetica";
  src: url("../../public/fonts/coolvetica_compressed_hv.eot?") format("eot"),
    url("../../public/fonts/coolvetica_compressed_hv.woff") format("woff"),
    url("../../public/fonts/coolvetica_compressed_hv.ttf") format("truetype"),
    url("../../public/fonts/coolvetica_compressed_hv.svg#CoolveticaCompressedHv-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1024px) {
  .mask {
    mask-image: url("../../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #393fec;
    position: absolute;
    color: black;
    z-index: 5;
  }
  .mask,
  .body {
    width: 100%;
    height: 100%;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #f7f7f7;
  z-index: 20;
}
